extends ../layout

block content
    .page-header
        h3 Facility Details - Please complete this form to continue.
        br

        form.form-horizontal(id='facilityDetails', method='POST')
            input(type='hidden', name='_csrf', value=_csrf)
            .form-group.required
                label.col-sm-3.control-label(for='facilityName') Facility Name
                .col-sm-7
                    input.form-control(type='text', required='required', name='facilityName', id='facilityName', placeholder="Facility Name",
                    autofocus)
            .form-group.required
                label.col-sm-3.control-label(for='address1') Address Line 1
                .col-sm-7
                    input.form-control(type='text', pattern='[a-zA-Z0-9\\s\\-\\,\\#\\.\\+]+', title='Please enter valid street address.', required='required', name='address1', id='address1', placeholder='Address')
            .form-group
                label.col-sm-3.control-label(for='address2') Address Line 2
                .col-sm-7
                    input.form-control(type='text', name='address2', id='address2', placeholder='')
            .form-group.required
                label.col-sm-3.control-label(for='city') City
                .col-sm-7
                    input.form-control(type='text', required='required', name='city', id='city', placeholder='City')
            .form-group.required
                label.col-sm-3.control-label(for='state') State
                .col-sm-7
                    input.form-control(type='text', required='required', name='state', id='state', placeholder='State')
            .form-group.required
                label.col-sm-3.control-label(for='zipcode') Zip Code
                .col-sm-7
                    input.form-control(pattern='[0-9]{5,6}(?:[-\\s][0-9]{4})?', title='Please enter valid zip code.', required='required', name='zipcode', id='zipcode', placeholder='Zip Code')
            .form-group.required
                label.col-sm-3.control-label(for='contactName') Point of Contact Name
                .col-sm-7
                    input.form-control(type='text', required='required', name='contactName', id='contactName', placeholder='Contact Name')
            .form-group.required
                label.col-sm-3.control-label(for='contactPhone') Point of Contact Phone Number
                .col-sm-7
                    input.form-control(type='tel', pattern='\\(?[0-9]{2,4}\\)?[0-9\\s-]{3,}', title='Please enter valid phone number.', required='required', name='contactPhone', id='contactPhone', placeholder='Contact Phone Number')
            .form-group.required
                label.col-sm-3.control-label(for='contactEmail') Point of Contact Email Address
                .col-sm-7
                    input.form-control(type='email', required='required', name='contactEmail', id='contactEmail', placeholder='Contact Email Address')
            .form-group
                label.col-sm-3.control-label(for='buildingName') Building Number (if applicable)
                .col-sm-7
                    input.form-control(type='text', name='buildingName', id='buildingName', placeholder='Building Number (if applicable)')
            .form-group.required
                label.col-sm-3.control-label(for='locationName') Room / Location
                .col-sm-7
                    input.form-control(type='text', required='required', name='locationName', id='locationName', placeholder='Room / Location')
            .form-group.required
                label.col-sm-3.control-label(for='roomSize') Room Size
                .col-sm-7
                    input.form-control(type='text', required='required', name='roomSize', id='roomSize', placeholder='Room Size')
            .form-group.required
                label.col-sm-3.control-label(for='securityNeeded') Is security necessary during performances?
                .col-sm-7
                    select.form-control(required='required', name="securityNeeded", id="securityNeeded")
                        option(value='') Please select
                        option(value='no') No
                        option(value='yes') Yes
            .form-group.required
                label.col-sm-3.control-label(for='waiverNeeded') Are musicians (or guests) required to sign a waiver or any other form prior to accessing the facility?
                .col-sm-7
                    select.form-control(required='required', name="waiverNeeded", id="waiverNeeded")
                        option(value='') Please select
                        option(value='no') No
                        option(value='yes') Yes
            .form-group.required
                label.col-sm-3.control-label(for='patientNumber') Expected Number of Patients at performances
                .col-sm-7
                    input.form-control(type='text', required='required', name='patientNumber', id='patientNumber', placeholder='')
            .form-group
                .col-sm-offset-3.col-sm-7
                    button.btn.btn-success(type='submit')
                        span.ion-person-add
                        | Submit

