extends ../layout
block content
    .page-header
        h3 Musician - Performer Details- Please complete this form to continue.
        br

    form.form-horizontal(id='musicianDetails', method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.required
            label.col-sm-3.control-label(for='performerName') Musician or Group Name
            .col-sm-7
                input.form-control(type='text', required='required', name='performerName', id='performerName', placeholder="Musician or Group Name",
                autofocus)
        .form-group.required
            label.col-sm-3.control-label(for='contactName') Contact Name
            .col-sm-7
                input.form-control(type='text', required='required', name='contactName', id='contactName', placeholder='Contact name')
        .form-group.required
            label.col-sm-3.control-label(for='address1') Address Line 1
            .col-sm-7
                input.form-control(type='text', required='required', name='address1', id='address1', placeholder='Address')
        .form-group
            label.col-sm-3.control-label(for='address2') Address Line 2
            .col-sm-7
                input.form-control(type='text', name='address2', id='address2', placeholder='')
        .form-group.required
            label.col-sm-3.control-label(for='city') City
            .col-sm-7
                input.form-control(type='text', required='required', name='city', id='city', placeholder='City')
        .form-group.required
            label.col-sm-3.control-label(for='state') State
            .col-sm-7
                input.form-control(type='text', required='required', name='state', id='state', placeholder='State')
        .form-group.required
            label.col-sm-3.control-label(for='zipcode') Zip Code
            .col-sm-7
                input.form-control(type='number', required='required', name='zipcode', id='zipcode', placeholder='Zip Code')
        .form-group.required
            label.col-sm-3.control-label(for='phone') Contact Phone Number
            .col-sm-7
                input.form-control(type='tel', required='required', name='phone', id='phone', placeholder='Phone Number')
        .form-group
            label.col-sm-3.control-label(for='instruments') Instrument(s)
            .col-sm-7
                textarea.form-control(name='instruments', id='instruments', cols='40', rows='5')
        .form-group.required
            label.col-sm-3.control-label(for='website') Website or Online Reference
            .col-sm-7
                input.form-control(type='url', required='required', name='website', id='website', placeholder='http://')
        .form-group
            label.col-sm-3.control-label(for='picture') Upload Headshot / Picture
            .col-sm-7
                input.form-control(type='text', name='picture', id='picture', placeholder='')
        .form-group
            label.col-sm-3.control-label(for='biography') Short Biography Text
            .col-sm-7
                textarea.form-control(name='biography', id='biography', cols='40', rows='5')

        .form-group
            .col-sm-offset-3.col-sm-7
                button.btn.btn-success(type='submit')
                    span.ion-music-note
                    | Submit