.Detail {
    position: absolute;
    left: 250px;
    width: 600px;
    top: 40px;
    bottom: 140px;
    right: 200px;
    overflow: auto;
    padding: 10px;
    min-height: 1000px;

}

.Notes {
    position: absolute;
    left: 850px;
    width: 300px;
    top: 25px;
    bottom: 140px;
    right: 50px;
    overflow: auto;
    padding: 10px;
    min-height: 900px;
}

.PerformerList {
    position: absolute;
    left: 10px;
    width: 200px;
    top: 40px;
    bottom: 140px;
    overflow: auto;
    padding: 10px;
    min-height: 1000px;
}

.panel-success > .panel-footer {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.panel-heading > .table, .panel-heading > .table th {
    margin: 50px;
    border: 50px;
}

.example-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
    opacity: 1;
}
.example-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
    opacity: 0.01;
}