footer
  .container.text-center
    p.pull-left © 2015 Transcendent Pathways, All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='http://www.transcendentpathways.org') Transcendent Pathways
