extends layoutAdmin

block content
  //- h1 Transcendent Pathways
  //- p.lead Scheduling System
  //- hr
  div(padding='50 px' id="codepenApp")


    script(src='/js/lib/jquery-2.1.3.min.js')
    script(src='js/admin2.min.js')
    //script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
