extends layout

block content
  h1 Transcendent Pathways
  p.lead Transcension Scheduling System
  hr
  .row
    .col-sm-6
      h2 Musician Home
      p Your account has been submitted for approval.
      p

    .col-sm-6
      h2 {Booking Calendar Here}
      p
      p

