extends layoutFacility

block content
  h1 Transcendent Pathways
  p.lead Scheduling System
  hr

  h3 To add a new event, click the day on the calendar below and enter time.

  hr

  #calendar


  #add-event(title='Add New Event' style="display:none;")
    form#add-event-form(action='/facility/postGigDetails', method='POST', name='add-event-form')
      //label(for='title') Event Name
      //input#title(type='text', name='title')
      //p
      //  label(for='add-date') Date
      //  input#event-date(type='text', name='event-date', tabindex='-1')

      input(type='hidden', name='_csrf', value=_csrf)
      input#date(type='hidden' name='date')
      p
        #when
      #datepair
        p
          label(for='startTime') Start Time
          input(type='text', class='time start', name='startTime', id='startTime')
        p
          label(for='endTime') End Time
          input(type='text', class='time end', name='endTime', id='endTime')
      p
        label(for='description') Event Description
        input(type='text', name='description', id='description', placeholder='')
      //p
      //  label(for='repeats') repeat
      //  input#repeats(type='checkbox', name='repeats', value='1')
      //  #repeat-options
      //    | Repeat every: week
      //    input(type='radio', value='7', name='repeat-freq', align='bottom')
      //    |              two weeks
      //    input(type='radio', value='14', name='repeat-freq', align='bottom')
      button.btn.btn.btn-primary(type='submit')
        span.ion-edit
        | Post Event Opening



  #event-details(title='Event Details' style="display:none;")
    h3
      #eventDate
    h3
      #startTime
    h3
      #endTime
    h3
      #description
