extends layout

block content
  h1 Transcendent Pathways
  p.lead Transcension Scheduling System
  hr
  .row
    .col-sm-6
      h2 Admin Home
      p {content here}
      p

    .col-sm-6
      h2 {content here}
      p
      p

