extends layoutFacility

block content
  h1 Transcendent Pathways
  p.lead Scheduling System
  hr

  h2 Post New Events Here
  form.form-horizontal(action='/postGigDetails', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='date') Date
      .col-sm-4
        div(style='position:relative')
          input.form-control.datepicker(type='text', name='date', id='date', placeholder='...')
    .form-group
      label.col-sm-2.control-label(for='startTime') Start Time
      .col-sm-4
        div(style='position:relative')
          input.form-control.starttimepicker(type='text', name='startTime', id='startTime', placeholder='...')
    .form-group
      label.col-sm-2.control-label(for='endTime') End Time
      .col-sm-4
        div(style='position:relative')
          input.form-control.endtimepicker(type='text', name='endTime', id='endTime', placeholder='...')
    .form-group
      label.col-sm-2.control-label(for='details') Event Description
      .col-sm-4
        input.form-control(type='text', name='description', id='description', placeholder='')
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          span.ion-edit
          | Post Event

  //div(padding='50px' id="schedulingApp")
  script(src='/js/lib/jquery-2.1.3.min.js')
