extends layoutFacility

block content
  h1 Transcendent Pathways
  p.lead Scheduling System
  hr

  #calendar


  #add-event(title='Add New Event' style="display:none;")
    form#add-event-form(action='', name='add-event-form')
      //label(for='title') Event Name
      //input#title(type='text', name='title')
      //p
      //  label(for='add-date') Date
      //  input#event-date(type='text', name='event-date', tabindex='-1')
      p
        label(for='add-start-time') Start Time
        input#start-time(type='text', name='start-time')
      p
        label(for='add-end-time') End Time
        input#end-time(type='text', name='end-time')
      p
        //label(for='repeats') repeat
        //input#repeats(type='checkbox', name='repeats', value='1')
        #repeat-options
          | Repeat every: week
          input(type='radio', value='7', name='repeat-freq', align='bottom')
          |              two weeks
          input(type='radio', value='14', name='repeat-freq', align='bottom')