doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Transcendent Pathways
    link(href='/css/main.min.css', rel='stylesheet')
    link(href='/media/favicon.ico', rel='shortcut icon')

    link(rel='stylesheet', href='/js/lib/fullcalendar.min.css')
    link(rel='stylesheet', href='/js/lib/fullcalendar.print.css',  media='print')
    link(rel='stylesheet', href='/js/lib/jquery-ui.min.css')

    link(href='/js/lib/pickadate/compressed/themes/classic.css', rel='stylesheet')
    link(href='/js/lib/pickadate/compressed/themes/classic.time.css', rel='stylesheet')

  body
    include partials/headerFacility

    .container
      include partials/flash
      block content

    //include partials/footer

    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/jquery-ui.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/moment.min.js')
    script(src='/js/lib/fullcalendar.min.js')

    script(src='/js/lib/pickadate/compressed/picker.js')
    script(src='/js/lib/pickadate/compressed/picker.time.js')
    script.
      $('#add-event .starttimepicker').pickatime({
        interval: 15,
        min: [7,0],
        max: [22,0]
       });
      $('#add-event .endtimepicker').pickatime({
        //editable: true,
        interval: 15,
        min: [7,0],
        max: [22,0]
      });


    script(type='text/javascript').
      $(document).ready(function() {

        var calendar = $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          eventLimit: true, // allow "more" link when too many events
          allDayDefault: false,
          events: {
            url: '/facility/getGigListing',
            type: 'GET',
            error: function() {
              alert('There was an error while fetching events!');
            }
          },
          timezone: 'local',
          dayClick: function(date, jsEvent, view) {
            //alert('a day has been clicked!');
            fnAddEventDialog(date);
          },
          eventClick: function (event, jsEvent, view) {
            //alert('an event has been clicked!');
            fnEventDetailsDialog(event);
          }
        });

      });

      function fnAddEventDialog(date) {
        $("#add-event").dialog({
          //autoOpen: false,
          //height: 'auto',
          //width: 'auto',
          //autoResize: true,
          modal: true,
          resizable: false,
          minWidth: 400,
          minHeight: 400,
          width: 400,
          height: 400,
          buttons: {
            'Cancel': function() {
              $(this).dialog("close");
            }
          }
        });
        var dateFormated = date.format('D MMMM, YYYY');
        $('#add-event #when').text(dateFormated);
        $('#add-event #date').val(dateFormated);
        $('#add-event').dialog('open');
      }

      function fnEventDetailsDialog(event) {
        $('#event-details').dialog({
          autoOpen: false,
          height: 'auto',
          width: 'auto',
          autoResize: true,
          modal: true,
          resizable: false,
          //minWidth: 600,
          //minHeight: 400,
          //width: 600,
          //height: 400
          buttons: {
            'Remove Event': function() {
              $(this).dialog("close");
            },

            'Cancel': function() {
              $(this).dialog("close");
            }
          }
        });
        var eventDate = event.start.format('D MMMM, YYYY');
        var startTime = 'Start Time:  ' + event.start.format('h:mm a');
        var endTime = 'End time:  ' + event.end.format('h:mm a') + '  (' + event.end.diff(event.start, 'minutes') + ' minutes)' ;
        var description = event.description;

        $('#event-details #eventDate').text(eventDate);
        $('#event-details #startTime').text(startTime);
        $('#event-details #endTime').text(endTime);
        $('#event-details #description').text(description);
        $('#event-details').dialog('open');
      }


      //$("add-event-form").on("submit", function (event) {
      //  $('#add-event').dialog("close");
      //  calendar.fullCalendar('refetchEvents');
      //});