doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Transcendent Pathways

    link(href='/media/favicon.ico', rel='shortcut icon')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/2.2.5/css/bootstrap.min.css')

    link(href='/css/main.min.css', rel='stylesheet')

    link(rel='stylesheet', href='/js/lib/fullcalendar.min.css')
    link(rel='stylesheet', href='/js/lib/fullcalendar.print.css',  media='print')

    link(rel='stylesheet', href='/js/lib/jquery-ui.min.css')


  body
    include partials/headerFacility

    .container
      include partials/flash
      block content

    //include partials/footer

    // 3.3.4

    script(src='/js/lib/jquery.min.js')
    script(src='/js/lib/jquery-ui.min.js')
    //script(src='/js/lib/bootstrap.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
    script(src='/js/lib/moment.min.js')
    script(src='/js/lib/fullcalendar.min.js')


    script(type='text/javascript').
      $(document).ready(function() {

        var calendar = $('#calendar').fullCalendar({
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
          },
          eventLimit: true, // allow "more" link when too many events
          allDayDefault: false,
          events: {
            url: '/gigListing',
            type: 'GET',
            error: function() {
              alert('There was an error while fetching events!');
            }
          },
          dayClick: function(date, jsEvent, view) {
            //alert('a day has been clicked!');
            //fnOpenNormalDialog(date);
            //console.dir(date.format('MMMM Do YYYY'));
            //var dateFormated = date.format('MMMM Do YYYY');
            //$('#createEventModal #date').val(dateFormated);
            $('#createEventModal').modal('show');
          },
          eventClick: function (event, jsEvent, view) {
            alert('an event has been clicked!');
            //fnOpenNormalDialog();
          }
        });
      });

      /*var calendar = $('#calendar').fullCalendar({
        defaultView: 'agendaWeek',
        editable: true,
        selectable: true,
        //header and other values
        select: function(start, end, allDay) {
          endtime = $.fullCalendar.formatDate(end,'h:mm tt');
          starttime = $.fullCalendar.formatDate(start,'ddd, MMM d, h:mm tt');
          var mywhen = starttime + ' - ' + endtime;
          $('#createEventModal #apptStartTime').val(start);
          $('#createEventModal #apptEndTime').val(end);
          $('#createEventModal #apptAllDay').val(allDay);
          $('#createEventModal #when').text(mywhen);
          $('#createEventModal').modal('show');
        }
        });*/

//        $('#submitButton').on('click', function(e){
//          // We don't want this to act as a link so cancel the link action
//          e.preventDefault();
//
//          doSubmit();
//        });
//
//
//        function doSubmit(){
//          $("#createEventModal").modal('hide');
//            console.log($('#apptStartTime').val());
//            console.log($('#apptEndTime').val());
//            console.log($('#apptAllDay').val());
//            alert("form submitted");
//
//          $("#calendar").fullCalendar('renderEvent',
//          {
//          title: $('#patientName').val(),
//            start: new Date($('#apptStartTime').val()),
//            end: new Date($('#apptEndTime').val()),
//            allDay: ($('#apptAllDay').val() == "true"),
//          },
//          true);
//        }


//      function getCSRFTokenValue() {
//        var metas = document.getElementsByTagName('meta');
//
//        for (var i=0; i<metas.length; i++) {
//          if (metas[i].getAttribute("name") == 'csrf-token') {
//            return metas[i].getAttribute('content');
//          }
//        }
//        return '';
//      }
//
//      $.ajaxSetup({
//        headers: {
//          'X-CSRF-Token': getCSRFTokenValue()
//        }
//      });
//
//      function fnOpenNormalDialog(date) {
//        $("#add-event").dialog({
//          autoOpen: false,
//          height: 'auto',
//          width: 'auto',
//          autoResize: true,
//          modal: false,
//          resizable: false,
//          open: function () {
//            $("#title").attr("tabindex", "1");
//          },
//          buttons: {
//            "Save Event": function () {
//              //var event
//
//              $.post('/postGigDetails', musician, function(result){
//                calendar.fullCalendar('refetchEvents');
//                $(this).dialog("close");
//              });
//            },
//            "Cancel": function () {
//              $(this).dialog("close");
//            }
//          }
//        });
//        $("#add-event").dialog('open');
