doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Transcendent Pathways
    link(href='/css/main.min.css', rel='stylesheet')
    link(href='/media/favicon.ico', rel='shortcut icon')
    link(href='/js/lib/pickadate/compressed/themes/classic.css', rel='stylesheet')
    link(href='/js/lib/pickadate/compressed/themes/classic.date.css', rel='stylesheet')
    link(href='/js/lib/pickadate/compressed/themes/classic.time.css', rel='stylesheet')
  body
    include partials/headerAdmin

    .container
      include partials/flash
      block content

    script(src='/js/lib/jquery-2.1.3.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/lib/pickadate/compressed/picker.js')
    script(src='/js/lib/pickadate/compressed/picker.date.js')
    script(src='/js/lib/pickadate/compressed/picker.time.js')
